.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5rem;
  margin-top: 3.75rem;
}

.article {
  display: grid;
  background-color: #FFF;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.articleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 0.75rem;
}

.coverWrapper {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.cover {
  width: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 300ms;
}

.article:hover .cover {
  transform: scale(1.05);
}

.articleWrapper:nth-child(6n + 3) .article,
.articleWrapper:nth-child(6n + 6) .article {
  grid-template-columns: 1fr 1fr;
}

.articleWrapper:nth-child(6n + 3),
.articleWrapper:nth-child(6n + 6) {
  width: calc(100% / 3 * 2);
  grid-column: span 2;
}

.articleWrapper:nth-child(6n + 3) {
  justify-self: end;
}

.articleWrapper:nth-child(6n + 6) {
  justify-self: start;
}

.articleWrapper:nth-child(6n + 4) .article,
.articleWrapper:nth-child(6n + 5) .article {
  grid-template-columns: 2fr 1fr;
}

.articleWrapper:nth-child(6n + 4) .article > .coverWrapper,
.articleWrapper:nth-child(6n + 5) .article > .coverWrapper,
.articleWrapper:nth-child(6n + 6) .article > .coverWrapper {
  order: 2;
}
