.article {
  width: min(1280px, 100%);
  background-color: #FFF;
  margin: 6.25rem auto 13.625rem;
}

.articleHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.coverWrapper {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.cover {
  width: 100%;
  object-fit: cover;
}

.articleInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 6.25rem;
}

.date {
  font-size: 1.125rem;
  margin-bottom: 2.75rem;
}

.author {
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: 1.625rem;
}

.title {
  color: #F1A10A;
  font-size: 2.25rem;
  font-weight: 700;
}

.articleBody {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: relative;
  padding: 7.75rem 15.625rem 10.5rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 1280px) {
  .articleBody {
   position: relative;
    padding: 7.75rem 8rem 10.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .articleBody {
    padding: 5rem 8rem 7rem;
  }

  .articleInfo {
    padding: 0.75rem 4rem;
  }

  .date {
    margin-bottom: 2rem;
    font-size: 1rem;
  }

  .author {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .articleHeader {
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .articleBody {
    margin-top: 4rem;
    padding: 0 3rem 7rem;
  }

  .articleInfo {
    padding: 0.75rem 3rem;
  }

  .coverWrapper {
    aspect-ratio: 2/1;
  }
}

@media screen and (max-width: 480px) {
  .articleBody {
    font-size: 1.25rem;
    padding: 0 2rem 6rem;
  }

  .articleInfo {
    padding: 0.75rem 2rem;
  }
}
